*.o
autoconf.h
config.log
config.status
Makefile
ns
nse
nstk
gen
gen/*
common/ptypes2tcl
tcl/lib/ns-autoconf.tcl
indep-utils/cmu-scen-gen/setdest/calcdest
indep-utils/cmu-scen-gen/setdest/setdest
indep-utils/webtrace-conv/dec/dec-tr-stat
indep-utils/webtrace-conv/epa/epa-tr-stat
indep-utils/webtrace-conv/nlanr/nlanr-tr-stat
indep-utils/webtrace-conv/ucb/ucb-tr-stat
